<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web based Visual Recognition System</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/images/vision.ico" type="image/x-icon">
</head>
<body>
    <img src="/images/vision.png" alt="" style="border: 0; width: 11rem; display: block; margin: auto;">
    <h2>Web based Visual Recognition System</h2>
    <form action="/uploadfile" enctype="multipart/form-data" method="POST"> 
        <input type="file" name="myFile" accept="image/*" required/>
        <input style="padding: 0.5rem; border: 0; background-color: aqua; border-radius: 30px;" type="submit" value="Upload Photo"/>
     </form>
</body>
</html>